pygame==2.5.2

aiodns==3.1.1

aiohttp==3.9.1

bitmex-websocket==0.3.5

aiosignal==1.3.1

alpha-vantage==2.3.1

altair==5.2.0

ansicon==1.89.0

anyio==3.7.1

argon2-cffi==23.1.0

argon2-cffi-bindings==21.2.0

eiapy==0.1.6

ascii-magic==1.6

xlrd==2.0.1

astor==0.8.1

asttokens==2.4.1

async-timeout==4.0.3

attrs==23.1.0

Babel==2.13.1

backcall==0.2.0

backoff==2.2.1

base58==2.1.1

beartype==0.7.1

beautifulsoup4==4.12.2

bleach==6.1.0

blessed==1.20.0

blinker==1.7.0

bs4==0.0.1

bt==0.2.9

cachetools==5.3.2

ccxt==1.95.1

certifi==2023.11.17

cffi==1.16.0

charset-normalizer==2.1.1

click==8.1.7

colorama==0.4.6

comm==0.2.0

commonmark==0.9.1

contourpy==1.2.0

convertdate==2.4.0

cryptography==41.0.7

cssselect==1.2.0

cycler==0.12.1

Cython==3.0.6

dateparser==1.2.0

DateTime==5.3

debugpy==1.8.0

decorator==5.1.1

defusedxml==0.7.1

degiro-connector==2.0.21

deprecation==2.1.0

detecta==0.0.5

dnspython==2.4.2

entrypoints==0.4

et-xmlfile==1.1.0

exceptiongroup==1.2.0

exchange-calendars==4.5

executing==2.0.1

fastjsonschema==2.19.0

feedparser==6.0.11

ffn==0.3.6

financedatabase==1.0.2

finnhub-python==2.4.19

finviz==1.4.6

finvizfinance==0.14.7

flake8==6.1.0

fonttools==4.46.0

formulaic==0.6.6

fred==3.1

fredapi==0.4.3

frozendict==2.3.10

frozenlist==1.4.0

fundamentalanalysis==0.2.14

future==0.18.3

gitdb==4.0.11

GitPython==3.1.40

grpcio==1.50.0

h11==0.14.0

hijri-converter==2.3.1

holidays==0.14.2

html5lib==1.1

httpcore==0.16.3

httpx==0.23.3

idna==3.6

importlib-metadata==6.11.0

importlib-resources==6.1.1

inflection==0.5.1

inquirer==3.1.4

interface-meta==1.3.0

investiny==0.5.0

investpy==1.0.8

ipyflex==0.2.6

ipykernel==6.27.1

ipympl==0.8.8

ipython==8.5.0

ipython-genutils==0.2.0

ipywidgets==7.8.1

iso8601==0.1.16

jedi==0.19.1

Jinja2==3.1.2

jinxed==1.2.1

joblib==1.3.2

json5==0.9.14

jsonschema==3.2.0

jupyter==1.0.0

jupyter-console==6.6.3

jupyter-server==1.24.0

jupyter_client==7.4.9

jupyter_core==5.5.0

jupyterlab==3.5.3

jupyterlab-widgets==1.1.7

jupyterlab_pygments==0.3.0

jupyterlab_server==2.16.6

kiwisolver==1.4.5

korean-lunar-calendar==0.3.1

linearmodels==4.31

loguru==0.7.2

lxml==4.9.3

MarkupSafe==2.1.3

matplotlib==3.8.2

matplotlib-inline==0.1.6

mccabe==0.7.0

mistune==0.8.4

more-itertools==10.1.0

mplfinance==0.12.10b0

multidict==6.0.4

multitasking==0.0.11

mypy-extensions==1.0.0

nbclassic==1.0.0

nbclient==0.5.13

nbconvert==6.5.4

nbformat==5.9.2

nest-asyncio==1.5.8

notebook==6.5.6

notebook_shim==0.2.3

numpy==1.23.4

oandapyV20==0.6.3

oauthlib==3.2.2

onetimepass==1.0.1

openbb==0.0.1

openpyxl==3.1.2

packaging==23.2

pandas==1.5.3

pandas-datareader==0.10.0

pandas-market-calendars==3.2

pandas-ta==0.3.14b0

pandocfilters==1.5.0

papermill==2.5.0

parso==0.8.3

patsy==0.5.4

pickleshare==0.7.5

Pillow==10.1.0

platformdirs==4.1.0

plotly==5.18.0

praw==7.7.1

prawcore==2.4.0

prometheus-client==0.19.0

prompt-toolkit==3.0.41

property-cached==1.6.4

protobuf==3.20.1

psaw==0.0.12

psutil==5.9.6

pure-eval==0.2.2

pyally==1.1.2

pyarrow==14.0.1

pycares==4.4.0

pycodestyle==2.11.1

pycoingecko==2.3.0

pycparser==2.21

pycryptodome==3.19.0

pydeck==0.8.1b0

pyEX==0.5.0

pyflakes==3.1.0

Pygments==2.17.2

pyhdfe==0.2.0

pyluach==2.2.0

PyMeeus==0.5.12

pymongo==3.13.0

pyotp==2.9.0

pyparsing==3.1.1

PyPrind==2.11.3

pyrsistent==0.18.1

pythclient==0.1.17

python-binance==1.0.19

python-coinmarketcap==0.2

python-dateutil==2.8.2

python-dotenv==0.19.2

python-editor==1.0.4

python-i18n==0.3.9

pytrends==4.9.2

pytz==2023.3.post1

pywin32==306

pywinpty==2.0.12

PyYAML==6.0.1

pyzmq==24.0.1

qtconsole==5.5.1

QtPy==2.4.1

Quandl==3.7.0

rapidfuzz==1.9.1

readchar==4.0.5

regex==2023.10.3

requests==2.31.0

requests-futures==1.0.1

requests-oauthlib==1.3.1

rfc3986==1.5.0

rich==12.6.0

robin-stocks==2.1.0

ruamel.yaml==0.17.40

ruamel.yaml.clib==0.2.8

scikit-learn==1.3.2

scipy==1.11.4

screeninfo==0.6.7

seaborn==0.11.2

Send2Trash==1.8.2

sentiment-investor==2.1.0

setuptools-scm==8.0.4

sgmllib3k==1.0.0

six==1.16.0

smmap==5.0.1

sniffio==1.3.0

socketIO-client-nexus==0.7.6

soupsieve==2.5

squarify==0.4.3

sseclient==0.0.27

stack-data==0.6.3

statsmodels==0.13.5

stocksera==0.1.21

streamlit==1.29.0

tabulate==0.9.0

temporal-cache==0.1.4

tenacity==8.2.3

terminado==0.18.0

thepassiveinvestor==1.2.1

threadpoolctl==3.2.0

tinycss2==1.2.1

tokenterminal==1.0.1

toml==0.10.2

tomli==2.0.1

toolz==0.12.0

tornado==6.4

tqdm==4.66.1

tradingview-ta==3.3.0

traitlets==5.14.0

typing_extensions==4.9.0

tzdata==2023.3

tzlocal==5.2

ujson==5.9.0

Unidecode==1.3.7

update-checker==0.18.0

urllib3==2.1.0

user-agent==0.1.10

vaderSentiment==3.3.2

validators==0.22.0

valinvest==0.0.2

voila==0.3.7

watchdog==2.3.1

wcwidth==0.2.12

webencodings==0.5.1

websocket-client==1.7.0

websockets==12.0

widgetsnbextension==3.6.6

win32-setctime==1.1.0

wrapt==1.16.0

yahooquery==2.3.2

yarl==1.7.2

yfinance==0.1.74

zipp==3.17.0

zope.interface==6.1

